/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.card {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    }

.container {
    max-width: 100%;
    margin: 0 auto;
}

header {
    text-align: center;
}

header img {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icon-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.icon-list li {
    margin-bottom: 10px;
}

.icon-list li a {
    text-decoration: none;
}

.icon-large {
    font-size: 32px; /* Adjust the size as needed */
}

#contact .icon-list,
#tech-stack .icon-list {
    display: flex; /* Use flexbox */
    justify-content: space-around; /* Spread items horizontally with equal spacing */
}

#contact .icon-list li,
#tech-stack .icon-list li {
    margin-right: 5px; /* Reduce margin between icons */
}

#contact .email {
    text-align: center; /* Center-align email */
    margin-bottom: 10px; /* Add margin bottom for email */
}

/* Centering headings */
#tech-stack h2,
#contact h2 {
    text-align: center;
}
